String
 - create
 - indexing & access
 - slicing
 - most usefull methods
 - string is immutable
 - string is iterable (someting that has multiple element and can br looped over)

In [2]:
a = 'apple' # single quotes
b = "applejuice" # doble quotes
c = '''this is
example''' # triple/multiple quotes

In [3]:
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])

a
p
e
l

In [ ]:
slicing
`str[start:stop:step]`

In [15]:
name = "Vijay Deenanath Chauhan"
print(name[0:5])
print(name[6:15])
print(name[-7:23])
print(name[:5])
print(name[:-7])
print(name[:])
print(name[:15:2])
print(name[::2])
print(name[::-1])
print(name[:][::-1][:5])

Vijay
Deenanath
Chauhan
Vijay
Vijay Deenanath
Vijay Deenanath Chauhan
VjyDeaah
VjyDeaahCahn
nahuahC htananeeD yajiV
nahua

In [19]:
fname = "Ankit"
lname = "Kumar"
fname+' ' + lname # concatenation

'Ankit Kumar'

In [20]:
'ðŸ˜‚' * 10 # repetition

'ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚'

Strings Method

In [22]:
a.capitalize

Find and Replace

In [34]:
sentence = ('The King went to the Jungle')
print(sentence.find('King'))
print(sentence.find('Queen'))
print(sentence.find('in'))
print(sentence.find('Ju'))

print(sentence.replace('King', 'queen'))
print(sentence.replace('Jungle', 'Castle'))
sentence2 = sentence.replace('King','queen').replace('Jungle','castele')
int(sentence)

4
-1
5
21
The queen went to the Jungle
The King went to the Castle

ValueError: invalid literal for int() with base 10: 'The King went to the Jungle'

In [ ]:
s3 = 'Blue,Red,Black,White'

In [38]:
poem = '''
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
'''
print(poem.splitlines())
print(poem.split())
print(poem.split(','))

['', 'Twinkle, twinkle, little star,', 'How I wonder what you are!', 'Up above the world so high,', 'Like a diamond in the sky.']
['Twinkle,', 'twinkle,', 'little', 'star,', 'How', 'I', 'wonder', 'what', 'you', 'are!', 'Up', 'above', 'the', 'world', 'so', 'high,', 'Like', 'a', 'diamond', 'in', 'the', 'sky.']
['\nTwinkle', ' twinkle', ' little star', '\nHow I wonder what you are!\nUp above the world so high', '\nLike a diamond in the sky.\n']

In [41]:
path = ['C:','home','address','document','filetext']
print(" ".join(path))
print("/".join(path))

C: home address document filetext
C:/home/address/document/filetext

count,, startswith and endwith

In [1]:
story = 'once thhere was a king. He was very powerful. He had a beautiful queen.'
story.count('queen')

1

In [7]:
import os

content = os.listdir('C:/users/win-10/Downloads')
print(content)

['16894853301.png', 'azuredatastudio-windows-user-setup-1.46.0.exe', 'ChromeSetup (1).exe', 'ChromeSetup (2).exe', 'ChromeSetup.exe', 'desktop.ini', 'download (1).jpg', 'download (2).jpg', 'download (3).jpg', 'download (4).jpg', 'download (5).jpg', 'download (6).jpg', 'download.jpg', 'download.png', 'DP-2022-DEC-MERN-10-00-MTF-master', 'DP-2022-DEC-MERN-10-00-MTF-master.zip', 'DP-2023-JAN-MERN-03-30-MTWF-master', 'DP-2023-JAN-MERN-03-30-MTWF-master (1)', 'DP-2023-JAN-MERN-03-30-MTWF-master (1).zip', 'gif.gif', 'Git-2.39.1-64-bit.exe', 'Git-2.41.0.3-64-bit.exe', 'GitHubDesktopSetup-x64.exe', 'images (1).jpg', 'images (2).jpg', 'images (3).jpg', 'images (4).jpg', 'images (5).jpg', 'images (6).jpg', 'images (7).jpg', 'images.jpg', 'ITI PICTURES', 'jetbrains-toolbox-2.1.3.18901.exe', 'logo.png', 'Miniconda3-py310_22.11.1-1-Windows-x86_64.exe', 'mississippi.sql', 'Music - Shortcut.lnk', 'mycollection', 'mycollection.zip', 'mysql-8.1.0-winx64.msi', 'node-v18.13.0-x64.msi', 'patanjali facewash.mp4', 'Patanjali-Rose-Facewash-1-e1515642744426.jpg', 'pattern.png', 'Postman-win64-Setup.exe', 'practice_diabetes (1).sql', 'practice_houseprices (1).sql', 'sakila-db.zip', 'sales.sql', 'sanay python', 'sanjay file new', 'ss.py', 'sss.ipynb', 'tt.py', 'VC_redist.x64.exe', 'VSCodeUserSetup-x64-1.74.3.exe']

In [12]:
for item in content:
    if item.endswith('.exe'):
        print(item)

azuredatastudio-windows-user-setup-1.46.0.exe
ChromeSetup (1).exe
ChromeSetup (2).exe
ChromeSetup.exe
Git-2.39.1-64-bit.exe
Git-2.41.0.3-64-bit.exe
GitHubDesktopSetup-x64.exe
jetbrains-toolbox-2.1.3.18901.exe
Miniconda3-py310_22.11.1-1-Windows-x86_64.exe
Postman-win64-Setup.exe
VC_redist.x64.exe
VSCodeUserSetup-x64-1.74.3.exe

In [14]:
for item in content:
    if item.startswith('a'):
        print(item)

azuredatastudio-windows-user-setup-1.46.0.exe

In [16]:
word = 'Excellent'
print(word.startswith('Ex'))
print(word.startswith('En'))

True
False